body {
    background-color: #FAF4EF;
}

/* Styling for the nav bar at top of page */
/* Parent level uses display: flex */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2B0D08;
    color: #fff;
}
header h1{
    width: 50%;
}

header nav{
    width: 50%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul li{

}
nav ul li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

figure {
    background-image: url(https://placehold.co/1080x300);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}