/* To Do: 
add background image
style text for page content 
size images for responsiveness 
add my actual content 
make links work  */

body {
    background-color: #FAF4EF;
}

/* Styling for the nav bar at top of page */
/* Parent level uses display: flex */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-family: 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2B0D08;
    color: #fff;
}
header h1{
    width: 50%;
    font-size: 35px;
}

.navItems li {
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
}
.navItems li a{
    text-decoration: none;
    color: #fff;
}

/* Display flex for section spacing and alignment */
.contentSection {
    display: flex;
}

/* Splits section titles to left of page */
.sectionTitle{
    width: 50%;
}
.text {
    width: 50%;
}

/*Styling for project gallery*/
.projectShowcase .projectCard{
    display: inline-block;
    width: 49%;
}

#image1 img {
    width: 100%;
    height: auto;
}